<th:block th:insert="~{modules/header.html}" />


<section class="content-header">
    <div class="container-fluid">
        <div class="row md-2">
            <div class="col-sm-6">
                <h1>상세보기</h1>  				
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                  <a href="list.do">
                      <i class="fa fa-dashboard"></i>공지사항
                  </a>
              </li>
              <li class="breadcrumb-item active">
                  상세보기
              </li>		        
        </ol>
            </div>
        </div>
    </div>
</section>


  <!-- Main content -->
<section class="content container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card card-outline card-info">
              <div class="card-header">
                  <h3 class="card-title">상세보기</h3>
                  <div class="card-tools">
                      <button type="button" id="modifyBtn" class="btn btn-warning" onclick="">MODIFY</button>						
                      <button type="button" id="removeBtn" class="btn btn-danger" onclick="">REMOVE</button>
                      <button type="button" id="listBtn" class="btn btn-primary" onclick="CloseWindow();">CLOSE</button>
                  </div>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="form-group col-sm-12">
                          <label for="title">제 목</label>
                          <span  class="form-control" id="span-title" th:utext="${notice.title}" readonly ></span>						
                      </div>
                  </div>
                  <div class="row">	
                      <div class="form-group col-sm-4" >
                          <label for="writer">작성자</label>
                          <span class="form-control" id="writer" th:text="${notice.writer}"></span>
                      </div>		
                      
                      <div class="form-group col-sm-4" >
                          <label for="regDate">작성일</label>
                          <span class="form-control" id="regDate" th:text="${#dates.format(notice.regDate,'yyyy-MM-dd')}"></span>
                      
                      </div>
                      <div class="form-group col-sm-4" >
                          <label for="viewcnt">조회수</label>
                          <span class="form-control" id="viewcnt" th:text="${notice.viewcnt}"></span>
                      </div>
                  </div>		
                  <div class="form-group col-sm-12">
                      <label for="content">내 용</label>
                      <div id="content" th:utext="${notice.content}"></div>	
                  </div>
              </div>													
          </div><!-- end card -->				
      </div><!-- end col-md-12 -->
  </div><!-- end row  -->
</section>

<th:block th:insert="~{modules/common_js.html}" />
<th:block th:insert="~{modules/footer.html}" />