<th:block th:insert="~{modules/header.html}"/>

<link rel="stylesheet" th:href="@{/bootstrap/plugins/summernote/summernote-bs4.min.css}" />

<section class="content-header">
    <div class="container-fluid">
        <div class="row md-2">
            <div class="col-sm-6">
                <h1>수정하기</h1>  				
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                  <a href="list.do">
                      <i class="fa fa-dashboard"></i>공지사항
                  </a>
              </li>
              <li class="breadcrumb-item active">
                  수정하기
              </li>		        
        </ol>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card card-outline card-info">
              <div class="card-header">
                  <h3 class="card-title">공지 수정</h3>
                  <div class="card-tools">
                      <div class="float-right">
                          <button type="button" class="btn btn-warning" id="modifyBtn" onclick="modify_go();">수 정</button>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="button" class="btn btn-default " id="cancelBtn" onclick="history.go(-1);">취 소</button>
                      </div>
                  </div>
              </div><!--end card-header  -->
              <div class="card-body">
                  <form role="form" method="post" action="modify" name="modifyForm" onsubmit="return false;">
                      <input type="hidden" name="nno" th:value="${notice.nno}"/>
                      <div class="form-group">
                          <label for="span-title" >제 목</label> 
                          <span class="form-control" id="span-title" th:utext="${notice.title}" contenteditable="true"></span>
                          <input type="hidden" id="title" name='title' placeholder="제목을 쓰세요">
                      </div>
                      <div class="form-group">
                          <label for="writer">작성자</label> 
                          <input type="text" id="writer" readonly name="writer" th:value="${notice.writer}" class="form-control" />
                      </div>
                      <div class="form-group">
                          <label for="content">내 용</label>		
                          <textarea class="form-control" name="content" id="content" rows="3"
                              placeholder="500자 내외로 작성하세요." th:text="${notice.content}"></textarea>						
                      </div>
                  </form>
              </div><!--end card-body  -->
              
          </div><!-- end card -->				
      </div><!-- end col-md-12 -->
  </div><!-- end row -->
</section>
<!-- /.content -->


<th:block th:insert="~{modules/common_js.html}" />


<script th:src="@{/bootstrap/plugins/summernote/summernote-bs4.min.js}"></script>
<script>
    summernote_go($("#content")[0], "[[@{/}]]");
</script>

<script>
    function modify_go(btn){
        $('input[name="title"]').val($('#span-title').text());
        document.querySelector("form[role='form']").submit();
       
    }
</script>

<th:block th:insert="~{modules/footer.html}" />