<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member-Mapper">
<sql id="search">
        <if test="searchType == 'i'.toString()"> where id like '%'||#{keyword}||'%' </if>
		<if
            test="searchType == 'n'.toString()"> where name like '%'||#{keyword}||'%' </if>
		<if
            test="searchType == 'e'.toString()"> where email like '%'||#{keyword}||'%' </if>
		<if
            test="searchType == 'p'.toString()"> where phone like '%'||#{keyword}||'%' </if>
		
    </sql>
    <select id="selectSearchMemberList" resultType="member">
        select * from member
        <include refid="search"/>
        order by regDate desc
	</select>

    <select id="selectSearchMemberListCount" resultType="int">
        select count(*) from member
        <include refid="search"/> 
    </select>
        
    <select id="selectMemberById" resultType="member"> select * from member
        where id= #{id} </select>

    <insert id="insertMember" parameterType="member"> insert into member(id,pwd,email,picture,phone,name,address,register)
        values(#{id},#{pwd},#{email},#{picture},#{phone},#{name},#{address},#{register}) </insert>


    <update id="updateMember" parameterType="member"> update member set
        pwd=#{pwd},email=#{email},picture=#{picture},phone=#{phone},name=#{name},address=#{address}
        where id=#{id} </update>

    <update id="deleteMember" parameterType="String"> delete from member where id=#{id} </update>
</mapper>