<th:block th:insert="~{modules/header}" />

<!-- Main content -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row md-2">
            <div class="col-sm-6">
                <h1>자유게시판</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="list.do">
                            <i class="fa fa-dashboard"></i>자유게시판
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        목록
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header with-border">
            <button type="button" class="btn btn-primary" id="registBtn" onclick="">게시글등록</button>
            <div id="keyword" class="card-tools" style="width:450px;">
                <div class="input-group row">
                    <select class="form-control col-md-3" name="perPageNum" id="perPageNum"
                        th:field="*{pageMaker.perPageNum}" onchange="search_list(1)">
                        <option th:value="10">정렬개수</option>
                        <option th:value="20">20개씩</option>
                        <option th:value="50">50개씩</option>
                        <option th:value="100">100개씩</option>

                    </select>
                    <select class="form-control col-md-4" name="searchType" id="searchType"
                        th:field="*{pageMaker.searchType}">
                        <option th:value="tcw">전 체</option>
                        <option th:value="t">제 목</option>
                        <option th:value="w">작성자</option>
                        <option th:value="c">내 용</option>
                        <option th:value="tc">제목+내용</option>
                        <option th:value="cw">작성자+내용</option>
                    </select>
                    <input class="form-control" type="text" name="keyword" placeholder="검색어를 입력하세요."
                        th:value="${pageMaker.keyword}" />
                    <span class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick="search_list(1);"
                            data-card-widget="search">
                            <i class="fa fa-fw fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped" id="boardList">
                <thead>
                    <tr style="font-size:0.95em;">
                        <th style="width:10%;">번 호</th>
                        <th style="width:50%;">제 목</th>
                        <th style="width:15%;">작성자</th>
                        <th>등록일</th>
                        <th style="width:10%;">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="board : ${boardList}">
                        <tr style="font-size: 0.85em;cursor: pointer;"
                            th:onclick="|OpenWindow('detail?bno=${board.bno}','상세보기',700,800);|">
                            <td th:text="${board.bno}"></td>
                            <td th:text="${board.title}"></td>
                            <td th:text="${board.writer}"></td>
                            <td th:text="${#dates.format(board.regDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${board.viewcnt}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>

</section>
<th:block th:insert="~{modules/common_js}" />
<th:block th:insert="~{modules/footer}" />