<th:block th:insert="~{modules/header}" />


<div class="wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>자료실</h1>
                </div>


                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="list.do"><i class="fa fa-dashboard"></i>자료실</a></li>
                        <li class="breadcrumb-item active">상세보기</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>


    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">상세보기</h3>
                        <div class="card-tools">
                            <button type="button" id="modifyBtn" class="btn btn-warning"
                            th:onclick="|location.href='modifyForm?pno=${pds.pno}';|">Modify</button>
                        <button type="button" id="removeBtn" class="btn btn-danger"
                            th:onclick="|location.href='remove?pno=${pds.pno}';|">REMOVE</button>

                        <button type="button" id="listBtn" class="btn btn-primary" onclick="CloseWindow();">CLOSE
                        </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group col-sm-12">
                            <label for="title">제 목</label>
                            <span class="form-control" id="span-title" th:utext="${pds.title}" readonly></span>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="form-group col-sm-4">
                                <label for="writer">작성자</label>
                                <input type="text" class="form-control" id="writer" th:value="${pds.writer }"
                                    readonly />
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="regDate">작성일</label>
                                <input type="text" class="form-control" id="regDate"
                                    th:value="${#dates.format(pds.regDate,'yyyy-MM-dd')}" readonly />
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="viewcnt">조회수</label>
                                <input type="text" class="form-control" id="viewcnt" th:value="${pds.viewcnt }"
                                    readonly />
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="content">내 용</label>
                            <div th:utext="${pds.content}"></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="card card-outline card-success">
                                <div class="card-header">
                                    <h3>첨부파일</h3>
                                </div>

                                <div class="card-footer">
                                    <div class="row">
                                        <!-- attaches -->
                                         <div th:each="attach:${pds.attachList}" class="col-md-4 col-sm-4 col-xs-12" 
                                             style="cursor: pointer;" th:onclick="|location.href='getFile?ano=${attach.ano}';|">
                                        
                                             <span class="info-box-icon bg-yellow"><i class="fa fa-copy"></i></span>
                                             <div class="info-box-content">
                                                <span class="info-box-text" th:text="${#dates.format(attach.regDate,'yyyy-MM-dd')}"></span>
                                                <span class="info-box-number" th:text="${#strings.setSplit(attach.fileName,'\\$\\$')[1]}"></span>
                                             </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">

                        
                    </div>
                </div><!-- end card -->
            </div><!-- end col-md-12 -->
        </div><!-- end row  -->

    </section>

    <th:block th:insert="~{modules/common_js}" />
    <th:block th:insert="~{modules/footer}" />