<th:block th:insert="~{modules/header}" />
<!-- summernote -->
<link rel="stylesheet" th:href="@{/bootstrap/plugins/summernote/summernote-bs4.min.css}" />


<div class="wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>자료실</h1>
                </div>


                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="list.do"><i class="fa fa-dashboard"></i>자료실</a></li>
                        <li class="breadcrumb-item active">자료등록</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h4>글등록</h4>
                    </div><!--end card-header  -->
                    <div class="card-body">
                        <form enctype="multipart/form-data" role="form" method="post" action="regist" name="registForm">
                            <div class="form-group">
                                <label for="writer">작성자</label>
                                <input type="text" id="writer" name="writer" readonly class="form-control"
                                    th:value="${session.loginUser.id}" />
                            </div>
                            <div class="form-group">
                                <label for="title">제 목</label>
                                <input type="text" id="title" name='title' class="form-control" placeholder="제목을 쓰세요">
                            </div>
                            <div class="form-group">
                                <label for="content">내 용</label>
                                <textarea class="form-control" name="content" id="content" rows="5"
                                    placeholder="1000자 내외로 작성하세요."></textarea>
                            </div>
                            <div class="form-group">
                                <div class="card card-outline card-success">
                                    <div class="card-header">
                                        <h5 style="display:inline;line-height:40px;">첨부파일 : </h5>
                                        &nbsp;&nbsp;<button class="btn btn-xs btn-primary" onclick="addFile_go();"
                                            type="button" id="addFileBtn">Add File</button>
                                    </div>
                                    <div class="card-footer fileInput">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--end card-body  -->
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" id="registBtn" onclick="regist_go();">등 록</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn" id="cancelBtn" onclick="CloseWindow();">취 소</button>
                    </div><!--end card-footer  -->
                </div><!-- end card -->
            </div><!-- end col-md-12 -->
        </div><!-- end row -->
    </section>
</div>


<th:block th:insert="~{modules/common_js}" />
<!-- Summernote -->
<script th:src="@{/bootstrap/plugins/summernote/summernote-bs4.min.js}"></script>

<script>
    summernote_go($("#content"), "[[@{/}]]");
</script>

<script>
    var dataNum = 0;

    function addFile_go() {
        var div = $('<div>').addClass("inputRow").attr("data-no", dataNum);
        var input = $('<input>').attr({"type":"file","name":"uploadFile"}).css("display","inline");
        div.append(input).append("<button onclick='remove_go("+dataNum+");' style='boder:0;outline:0;'"+ "class='badge bg-red' type='button'>X</button>");
        $('.fileInput').append(div);

        dataNum++
    }
</script>

<th:block th:insert="~{modules/footer}" />